<div class="panel panel-default">
    <div class="panel-heading">
        <h1>History</h1>
    </div>
    <div class="panel-body">
        <div class="pull-right">
            <form class="form-inline" role="form">
                <div class="row">
                    <span class='input-group date' id='startDate' title="Start Date">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </span>
                    <span class='input-group date' id='endDate' title="End Date">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </span>
                    <button class="btn btn-default" ng-click="getHistory()">QUERY</button>
                </div>
            </form>
        </div>
        <div ng-show="loading">
            <img src="img/loading.gif">
        </div>
        <table class="table table-condensed table-hover params" style="width:100%">
            <tr>
                <th>Id</th>
                <th>Tags</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="ex in executions">
                <td> <a ng-click="seeWorkflow(ex)" title="{{ex.runId}}">{{ex.workflowId}}</a>
                </td>
                <td><div ng-repeat="tag in ex.tagList"><div ng-bind-html="formatTag(tag)"></div></div></td>
                <td>
                    Start : <span title="{{ex.startTimestamp}}">{{ex.startTimestamp | momentFromNow}}</span>
                    <br/>
                    End : <span title="{{ex.closeTimestamp}}">{{ex.closeTimestamp | momentFromNow}}</span>
                </td>
                <td><span class="label {{figureStatusLabel(ex.closeStatus)}}" ng-bind-html="formatStatus(ex.closeStatus)"></span></td>
            </tr>

        </table>
    </div>
</div>
