<span ng-switch="schema.type">
    <span ng-bind-html="formatUtil.formatURLs(schema.description)"></span>
    <span ng-switch-when="object">
        <!--<div>{{schema.description}}</div>-->
        <span ng-repeat="(name, prop) in ::schema.properties">
            <i class="fa fa-flash muted" title="Property is REQUIRED"></i>&nbsp;<i class="fa fa-eye-slash muted" ng-show="" title="Parameter will be ENCRYPTED"></i>&nbsp;<b>{{name}}</b>&nbsp;
            <json-schema schema="prop" required="schema.required"></json-schema>
        </span><br/>
    </span>
    <span ng-switch-when="array">
        <div class="block">{{schema.description}}</div>
        <span class="block"><json-schema schema="schema.items"></json-schema></span><br/>
    </span>
    <span ng-switch-default>
        <span ng-show="schema.enum" class="label label-default" ng-repeat="e in schema.enum">{{e}}</span>
        <span ng-hide="schema.enum"><i>{{schema.type}} {{schema.format}}</i></span>
        <div class="block">{{schema.description}}</div>
    </span>
</span>

