<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Start a New Fulfillment</h1>
    </div>
    <div class="panel-body">
        <div ng-show="loading">
            <img src="img/loading.gif">
        </div>
        <div ng-show="!runId">
            <form role="form">
                <div class="form-group">
                    <label>Fulfillment Name</label>
                    <input type="text" class="form-control" ng-model="workflowId" placeholder="Name this fulfillment..">
                </div>
                <div class="form-group">
                    <label for="inputJson">JSON</label>
                    <textarea rows="20" class="form-control json" id="inputJson" placeholder="Paste JSON Here.." ng-model="inputJson"></textarea>
                </div>
            </form>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label>Tags</label>
                        <span ng-repeat="tag in tags">
                            <div class="input-group">

                                <input type="text" class="form-control" ng-model="tag.text">
                                <div class="input-group-addon"><i class="fa fa-minus muted action" ng-click="removeTag(tag)"></i></div>
                            </div>
                        </span>
                    <button class="btn btn-sm" ng-click="addTag()">
                        <i class="fa fa-plus muted action"></i>
                    </button>
                    <br/>
                </div>
            </form>
            <button class="btn pull-right" ng-click="initiateWorkflow()">Start</button>
        </div>
        <div ng-show="runId">
            <h5>Fulfillment {{workflowId}} : {{runId}} initiated...</h5>
            <br/>
            <a ng-click="seeWorkflow()">View Fulfillment</a>
            <br/>
            <a ng-click="restart()">Start Another Fulfillment</a>
        </div>
    </div>
</div>
