<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <b>Show Defunct:</b><input type="checkbox" ng-model="showDefunct">
            <a class="btn btn-default" ng-click="getWorkers()">REFRESH</a>
        </div>
        <h1>Workers</h1>
    </div>
    <div class="panel-body">
        <div ng-show="loading">
            <img src="img/loading.gif">
        </div>
        <div class="panel panel-default" ng-repeat="(activityName, activities) in domains[currentDomain]">
            <div class="panel-heading-small">
                <b>{{activityName}}</b>
            </div>
            <div class="panel-body-small">
                <div class="blob shadow lightbox" ng-repeat="worker in activities" ng-show="!worker.defunct || (worker.defunct && showDefunct)">
					<span class="pull-right">
						<span title="Last seen {{worker.minutesSinceLast}} minutes ago" class="label {{worker.freshness}}">{{worker.status}}</span>
					</span>
                    <b>{{worker.activityName}} - {{worker.activityVersion}}</b>
                    <table class="table table-condensed params">
                        <tr>
                            <td>Host</td><td>{{worker.hostAddress}}</td>
                        </tr>
                        <tr>
                            <td>Started</td><td>{{worker.start}}</td>
                        </tr>
                        <tr ng-show="worker.specification">
                            <td ng-click="worker.showFormatted = !worker.showFormatted">Params</td>
                            <td>
                                <div ng-show="worker.showFormatted">
                                    <div ng-repeat="(name, param) in worker.specification">
                                        <b>{{param.name}}</b><br/>
                                        <div class="block">
                                            <div ng-show="!param.required"><i>OPTIONAL</i></div>
                                            Type:&nbsp;&nbsp;{{param.type}}<br/>
                                            Description:&nbsp;&nbsp;{{param.description}}
                                        </div>
                                    </div>
                                </div>
                                <div ng-hide="worker.showFormatted">
                                    <pre ng-bind-html="formatUtil.formatJsonBasic(worker.specification)"></pre>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
