<div class="panel panel-default">
    <div class="panel-heading">
				<span class="pull-right">
					<h1 style="display:table-cell;vertical-align: middle">
                        <i ng-show="workflow.editable" class="fa fa-gear muted blue action" ng-click="toolsVisible = !toolsVisible"></i>
                        <i ng-show="workflow.editable" class="fa fa-refresh muted red action" ng-click="getWorkflow()"></i>
                        <span class="label {{figureWorkflowStatusLabel(workflow.status)}}">{{workflow.status}}</span>
                    </h1>
				</span>
        <h1>Workflow » {{workflow.workflowId}}</h1>
        <div ng-show="toolsVisible">
            <span>
                <span class="muted red label" ng-click="promptCancelWorkflow()">Cancel</span>
                <span class="muted red label" ng-click="promptTerminateWorkflow()">Terminate</span>
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div ng-show="loading">
            <img src="img/loading.gif">
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <h3>Sections</h3>
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="(name, section) in workflow.sections" ng-class="{active : section.showContents}" >
                                <a ng-click="showSection(section)" class="action">
                                    <span class="pull-right">
                                    <span ng-hide="workflow.editable">
                                        <span class="label {{figureStatusLabel(section.status)}}">{{section.status}}</span>
                                    </span>

                                    <span ng-show="workflow.editable">
                                        <span ng-hide="section.editingStatus" ng-click="section.editStatus(section)" class="label {{figureStatusLabel(section.status)}}" ng-class="{'status-edited' : section.statusChanged(section)}">{{section.status}}</span>
                                        <select class="form-control input-sm form-inline" ng-show="section.editingStatus" ng-model="section.status" ng-change="section.changeStatus(section)" ng-blur="section.editingStatus = false">
                                            <option>{{section.originalStatus}}</option>
                                            <option ng-show="section.originalStatus != 'READY'">READY</option>
                                            <option ng-show="section.originalStatus != 'TERMINAL'">TERMINAL</option>
                                        </select>
                                    </span>

                                </span>
                                    <b>{{name}}</b>
                                    <img width="20" height="20" src="img/star_gold_256.png" style="margin-bottom:4px;margin-right:4px;" title="This section MUST be successful!!" ng-show="section.essential">
                                    <span ng-show="section.waitUntil" title="{{section.waitUntil}}">will run {{section.waitUntil | momentFromNow}}</span>
                                </a>
                            </li>
                        </ul>
                        <br/>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="pull-right">
                            <span class="rawInputToggle muted label">Show Input</span>
                            <span class="historyViewToggle muted label">Show History</span>
                        </div>
                        <h3 ng-show="workflow.timeline">Fulfillment Timeline</h3>
                        <div class="block">
                            <div ng-repeat="event in workflow.timeline">
                                <span class="pull-right muted" title="{{event.when}}">{{event.when | momentFromNow}}</span>
                                <i class="fa fa-{{figureTimelineIcon(event.eventType)}} {{figureTimelineStyle(event.eventType)}}"></i>&nbsp;<span ng-bind-html="formatUtil.formatWhitespace(event.message)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default initiallyHidden" id="rawInput">
                    <div class="panel-heading-small rawInputToggle">
                        <button class="btn btn-xs pull-right" ng-click="newWorkflow()">Create New Fulfillment</button>
                        <b>Fulfillment Input</b>
                    </div>
                    <pre class="json" ng-bind-html="formatUtil.formatJsonBasic(workflow.history[0].input)"></pre>
                </div>
                <div id="historyView" class="panel panel-default initiallyHidden">
                    <div class="panel-heading-small historyViewToggle">
                        <b>Fulfillment History</b>
                    </div>
                    <div ng-repeat="event in workflow.history">
                        <span class="label label-default" title="{{event.eventId}}">{{event.eventType}} - <span class="muted" title="{{event.eventDateTime}}">{{event.eventDateTime | momentFromNow}}</span></span>
                        <table class="table table-condensed table-hover block params" style="width:95%">
                            <tr ng-repeat="(key, value) in event" ng-class="{info : param.edited}">
                                <td style="width:200px"><b>{{key}}</b></td>
                                <td>
                                    <span class="json" ng-bind-html="formatUtil.jsonFormat(value)"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div ng-repeat="(name, section) in workflow.sections" ng-show="section.showContents">
                    <!--<div class="row">-->
                        <div class="col-md-12" ng-show="section.timeline">

                            <h3>Section Timeline</h3>
                            <div class="block" ng-repeat="event in section.timeline">
                                <span class="pull-right muted" title="{{event.when}}">{{event.when | momentFromNow}}</span>
                                <i class="fa fa-{{figureTimelineIcon(event.eventType)}} {{figureTimelineStyle(event.eventType)}}"></i>&nbsp;<span ng-bind-html="formatUtil.formatWhitespace(event.message)"></span>
                            </div>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-md-12">

                            <div ng-show="section.input.action.name" class="pull-right">

                                  <i class="fa fa-retweet muted action" title="Cancelation Retry: {{section.cancelationParams.delaySeconds}} Delay Seconds"></i>
                                {{section.canceledCount}}/{{section.cancelationParams.maxRetries}}&nbsp;&nbsp;
                                <i class="fa fa-clock-o muted action" title="Timeout Retry: {{section.timeoutParams.delaySeconds}} Delay Seconds"></i>
                                {{section.timedoutCount}}/{{section.timeoutParams.maxRetries}}&nbsp;&nbsp;
                                <i class="fa fa-exclamation-triangle muted action" title="Failure Retry: {{section.failureParams.delaySeconds}} Delay Seconds"></i>
                                {{section.failedCount}}/{{section.failureParams.maxRetries}}&nbsp;&nbsp;


                                <i class="muted">Worker</i>&nbsp; {{section.input.action.name}} : {{section.input.action.version}} &nbsp;&nbsp;
                            </div>
                            <div ng-hide="section.input.action.name" class="pull-right">
                                <i class="muted">Operator</i>&nbsp; {{section.input.action}} &nbsp;&nbsp;
                            </div>
                            <h3>Parameters</h3>
                            <table class="table table-condensed table-hover block params" style="width:95%">
                                <tr ng-repeat="(pname, param) in section.params" ng-class="{info : param.edited}">
                                    <td style="width:100px"><b>{{pname}}</b></td>
                                    <td>

                                        <div style="width:92%">
                                            <div ng-if="param.isJson">
                                    <span ng-if="!param.editing">
                                        <span class="json" ng-bind-html="formatUtil.formatJson(param.value)"></span>
                                    </span>
                                    <span ng-if="param.editing">
                                                <textarea rows="15" class="form-control" ng-model="param.value"></textarea>
                                        </span>
                                            </div>

                                            <div ng-if="param.isArray">
                                        <span ng-if="!param.editing">
                                            <div ng-repeat="item in param.value">
                                                <span class="label {{figureStatusLabel(workflow.sections[item.name].status)}}" ng-click="scrollToSection(item.name)">{{item.name}}<span ng-repeat="pathItem in item.path"><span ng-show="pathItem.key">/{{pathItem.key}}</span><span ng-show="pathItem.index">[{{pathItem.index}}]</span></span></span>&nbsp;<span ng-show="item.resolved" ng-bind-html="formatUtil.formatJson(item.value)"></span></div>
                                        </span>
                                        <span ng-if="param.editing">
                                            <select ng-repeat="item in param.value" ng-model="item">
                                                <option ng-repeat="(sectionName, otherSection) in workflow.sections" ng-selected="sectionName == item.name">{{sectionName}}</option>
                                            </select>
                                            <i class="fa fa-plus muted action" ng-click="addSection(param.value)"></i>
                                        </span>
                                            </div>

                                            <div ng-if="param.isString && !param.isJson">
                                        <span ng-if="!param.editing">
                                            <span ng-bind-html="formatUtil.formatURLs(param.value)"></span>
                                        </span>
                                        <span ng-if="param.editing">
                                                <input type="text" class="form-control" ng-model="param.value">
                                        </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                    <span ng-if="!param.editing && param.editable" class="action">
                                        <i class="fa fa-pencil muted action" ng-click="param.editing = true"></i>
                                    </span>
                                    <span ng-if="param.editing" style="vertical-align: middle">
                                            <span class="fa fa-check muted green action" ng-show="param.value != param.original" ng-click="finishEditing(param)"></span>
                                            <span class="fa fa-remove muted red action" ng-click="cancelEdit(param)"></span>
                                    </span>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <br/>
                        </div>
                        <div class="col-md-12">
                            <h3 ng-show="section.value">Result</h3>
                            <div class="block" ng-bind-html="formatUtil.formatJson(section.value)"></div>
                            <br/>
                            <br/>
                        </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <span ng-if="workflow.edited" class="bottom-dialog modal-content" style="vertical-align: middle">
            <h2>
                Post updates to fulfillment?&nbsp;
                <i class="fa fa-check muted green action" ng-click="updateWorkflow()"></i>
                <i class="fa fa-remove muted red action" ng-click="cancelWorkflowUpdate()"></i>
            </h2>
        </span>
        <script type="text/ng-template" id="confirmCancel">
            <div class="ngdialog-message">
                <h2><span class="fa fa-exclamation-triangle"></span>&nbsp;Confirm Cancelation</h2>
                <span class="pull-right">
                    <i class="fa fa-check muted green action f30" ng-click="cancelWorkflow() && closeThisDialog()"></i>
                    <i class="fa fa-remove muted red action f30" ng-click="closeThisDialog()"></i>
                </span>
                <i>{{workflowId}}</i><br/>
                Do you really want to cancel this Fulfillment?
            </div>
        </script>
        <script type="text/ng-template" id="confirmTerminate">
            <div class="ngdialog-message">
                <h2><span class="fa fa-exclamation-triangle timeline-ERROR"></span>&nbsp;Confirm Termination</h2>
                <i>{{workflowId}}</i><br/>
                <form role="form">
                    <div class="form-group">
                        <label>Reason</label>
                        <input type="text" class="form-control" ng-model="terminateReason" placeholder="Reason for termination.." >
                    </div>
                    <div class="form-group">
                        <label>Details</label>
                        <textarea rows="2" class="form-control" placeholder="Termination Details.." ng-model="terminateDetails"></textarea>
                    </div>
                </form>
                Do you really want to terminate this Fulfillment?
                <span class="pull-right">
                    <i class="fa fa-check muted green action f30" ng-click="terminateWorkflow() && closeThisDialog()"></i>
                    <i class="fa fa-remove muted red action f30" ng-click="closeThisDialog()"></i>
                </span>
            </div>
        </script>
    </div>
</div>
