<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Workflow Initiation</h1>
    </div>
    <div class="panel-body">
        <div ng-show="loading">
            <img src="img/loading.gif">
        </div>
        <form role="form" ng-show="!runId">
            <div class="form-group">
                <label>Workflow Id</label>
                <input type="text" class="form-control" ng-model="workflowId" placeholder="Name your workflow..">
            </div>
            <div class="form-group">
                <label for="inputJson">JSON</label>
                <textarea rows="20" class="form-control" id="inputJson" placeholder="Paste JSON Here.." ng-model="inputJson"></textarea>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <input type="text" class="form-control" ng-repeat="tag in tags" ng-model="tag.text">
                <br/>
                <button class="btn pull-right" ng-click="initiateWorkflow()">Start</button>
                <button class="btn btn-sm" ng-click="addLabel()">Add Tag</button>
            </div>
        </form>
        <div ng-show="runId">
            <h2>Run {{runId}} initiated...</h2>
        </div>
    </div>
</div>
