<html ng-app="FulfillmentDashboard">
    <head>
        <title>Balihoo | Fulfillment Dashboard</title>
        <link rel="shortcut icon" href="img/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-sanitize.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css" rel="stylesheet">

        <link href="css/balihoo.css" rel="stylesheet">
        <script src="js/angular-moment.js"></script>
        <script src="js/controller.js"></script>
    </head>
    <body>
        <div id="wrap">

            <!-- Nav bar -->
            <nav ng-controller="envController" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="">
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <div class="navbar-text pull-right" style="text-align: right;">

                            <div style="font-size:40px"><a href="/">Fulfillment</a></div>
								<span title="SWF Domain">
									<b>{{environment.domain}}</b>
								</span>
                            &nbsp;-&nbsp;
								<span title="AWS Region">
									<b>{{environment.region}}</b>
								</span>
                        </div>
                        <span class="brand-logo">
                            <a href="/">
                                <img height="80" src="/img/balihoo-beta-logo.png" alt="Balihoo - Local Marketing. Automated.">
                            </a>
                        </span>
                        <span>
                            <ul class="nav nav-tabs" style="position:absolute; bottom:0px; left:140px;">
                                <li><a ng-click="go('workers')">Workers</a></li>
                                <li><a ng-click="go('history')">Fulfillments</a></li>
                                <li><a ng-click="go('workflow/initiate')">Start A Fulfillment</a></li>
                            </ul>
                        </span>

                    </div>
                </div>
                <div class="color-bar">
                    <div class="bar-green"></div>
                    <div class="bar-cyan"></div>
                    <div class="bar-orange"></div>
                    <div class="bar-gray"></div>
                </div>
            </nav>
            <!-- End nav bar -->

            <!-- Body -->
            <div class="container-fluid main-content">
                <div ng-view></div>
            </div>
            <!-- End body -->
        </div>
        <!-- End wrapper -->

        <footer>
            <div class="color-bar">
                <div class="bar-green"></div>
                <div class="bar-cyan"></div>
                <div class="bar-orange"></div>
                <div class="bar-gray"></div>
            </div>
        </footer>

    </body>
</html>

